$cards_number: 9;
$distance_between_cards: 100% / $cards_number;
$card_width: 160px;
$card_height: 200px;
$board_card_width: $card_width;
$board_card_height: $card_height;
$blue: #0067ff;
$green: #33d872;
$letter_spacing: 3px;

@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin transition($transition...){
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #ebf5fe;
  margin: 0;
  padding: 0;
}

div{
  box-sizing: border-box;
}

.board {
  @include clearfix;
}

.dialog{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #40464d;
  opacity: 0.7;
  z-index: 100;
  &.hide{
    display: none;
  }
}
.dialog_box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 590px;
  height: 236px;
  margin: -119px 0 0 -295px;
  background-color: #f8f8f8;
  border: 1px solid #6f767f;
  padding: 50px;
}
.dialog_message{
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 1;
}
.dialog_input{
  font-size: 30px;
  width: 50%;
  margin-right: 10px;
  padding: 3px;
  vertical-align: top;
}
.dialog_btn{
  background-color: $green;
  width: 30%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: $letter_spacing;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  vertical-align: top;
  border: 1px solid $green;
}

.users{
  @include clearfix;
  width: 100%;
}

.user{
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.user_card {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 700;

  width: 160px;
  height: 200px;
  // background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 2, 4, 0.05);
  color: #8087b0;

  &.not_voted {
    border: 1px dashed #6f767f;
    box-shadow: none;
    background-image: url('assets/spokeo_logo.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.quitted {
    background-image: url('assets/abstained.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.back{
    background-image: url('assets/hedgehog.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
  .is_me &{
    color: $blue;
  }
}
.user_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  color: #8087b0;
  @include ellipse;
  .is_me &{
    color: $blue;
  }
}

.main_panel {
  width: 80%;
  float: left;
  padding: 50px;
}

.panel {
  width: 20%;
  height: 1000px;
  float: left;
  border-right: 1px solid #e3e3e5;
  padding: 0 20px;
  background-color: #fff;
}

.panel_title {
  font-size: 30px;
}

.title{
  color: #40464d;
  font-weight: 800;
  letter-spacing: $letter_spacing;
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

.timer{
  width: 135px;
  height: 135px;
  padding-top: 35px;
  margin: 0 auto;
  color: #fff;
  background-color: $blue;
  font-size: 25px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 0px 5px 12px 0 rgba(0,103,255,0.47);
}
.timer_sec{
  font-size: 40px;
  margin-left: 4px;
}
.timer_underline{
  width: 70px;
  height: 1px;
  margin: 3px auto;
  background-color: #fff;
}

.controls{
  margin-bottom: 50px;
}
.controls_btn{
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: $letter_spacing;
  text-align: center;
  cursor: pointer;
  padding: 17px;
  border-radius: 5px;
}
.controls_btn_green{
  background-color: $green;
  box-shadow: 0px 5px 12px 0 rgba(51,216,114,0.75);
  border: 1px solid $green;
}
.controls_btn_blue{
  background-color: $blue;
  box-shadow: 0px 5px 12px 0 rgba(0,103,255,0.47);
  border: 1px solid $blue;
}

.stats_title{
  font-size: 18px;
  font-weight: 600;
  color: #6f767f;
  text-align: center;
  letter-spacing: $letter_spacing;
}
.stats_result{
  font-size: 70px;
  font-weight: 600;
  color: $blue;
  text-align: center;
}
.stats_unit{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: $letter_spacing;
  text-align: center;
  color: $blue;
}

.cards{
  position: fixed;
  bottom: -70px;
  right: 50px;
  height: $card_height;
  width: 80%;
  max-width: 700px;
  margin-right: $card_width;
  @include clearfix;
}

.card{
  position: absolute;
  top: 0px;
  width: $card_width;
  height: $card_height;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  float: left;
  cursor: pointer;
  border-radius: 5px;
  color: $blue;
  font-size: 28px;
  font-weight: 600;
  background-color: #fff;
  background-image: url('assets/spokeo_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 2px rgba(0, 2, 4, 0.05);
  @for $i from 0 through 8 {
    &:nth-child(#{$i+1}){
      left: $distance_between_cards * $i;
      z-index: 8 - $i;
    }
  }
  &:hover{
    top: -20px;
  }
  @include transition(top 0.2s ease, left 0.5s ease);
}
.hidden{
  display: none;
}
// -------------------
// ----- Admin -------
.admin_user{
  margin-bottom: 10px;
  font-size: 16px;
}
.admin_kick_btn{
  margin-left: 10px;
}
