body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif; }

div {
  box-sizing: border-box; }

.board {
  background-color: #ebf5fe; }
  .board:after {
    content: "";
    display: table;
    clear: both; }

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #40464d;
  opacity: 0.7;
  z-index: 100; }
  .dialog.hide {
    display: none; }

.dialog_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 590px;
  height: 236px;
  margin: -119px 0 0 -295px;
  background-color: #f8f8f8;
  border: 1px solid #6f767f;
  padding: 50px; }

.dialog_message {
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 1; }

.dialog_input {
  font-size: 30px;
  width: 50%;
  margin-right: 10px;
  padding: 3px; }

.dialog_btn {
  background-color: #33d872;
  font-size: 30px;
  color: #fff;
  width: 30%;
  cursor: pointer;
  padding: 3px; }

.users {
  width: 100%; }
  .users:after {
    content: "";
    display: table;
    clear: both; }

.user {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  max-width: 100px; }

.user_card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  width: 100px;
  height: 140px;
  border: 1px dashed #6f767f;
  border-radius: 8px; }
  .user_card.not_voted {
    background-image: url("assets/spokeo_logo.png");
    background-color: #fff;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  .user_card.back {
    background-image: url("assets/hedgehog.png");
    background-color: #fff;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  .is_me .user_card {
    color: #0067ff; }

.user_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .is_me .user_name {
    color: #0067ff; }

.main_panel {
  width: 80%;
  float: left;
  padding: 50px; }

.panel {
  width: 20%;
  float: left;
  border-right: 1px solid #e3e3e5;
  padding: 0 20px;
  background-color: #fff; }

.panel_title {
  font-size: 30px; }

.title {
  color: #40464d;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 50px;
  text-align: center;
  margin: 20px 0; }

.timer {
  width: 135px;
  height: 135px;
  padding-top: 35px;
  margin: 0 auto;
  color: #fff;
  background-color: #0067ff;
  font-size: 25px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 0px 5px 12px 0 rgba(0, 103, 255, 0.47); }

.timer_sec {
  font-size: 40px;
  margin-left: 4px; }

.timer_underline {
  width: 70px;
  height: 1px;
  margin: 3px auto;
  background-color: #fff; }

.controls {
  margin-bottom: 50px; }

.controls_btn {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  padding: 17px;
  border-radius: 5px; }

.controls_btn_green {
  background-color: #33d872;
  box-shadow: 0px 5px 12px 0 rgba(51, 216, 114, 0.75);
  border: 1px solid #33d872; }

.controls_btn_blue {
  background-color: #0067ff;
  box-shadow: 0px 5px 12px 0 rgba(0, 103, 255, 0.47);
  border: 1px solid #0067ff; }

.stats_title {
  font-size: 18px;
  font-weight: 600;
  color: #6f767f;
  text-align: center;
  letter-spacing: 3px; }

.stats_result {
  font-size: 70px;
  font-weight: 600;
  color: #0067ff;
  text-align: center; }

.stats_unit {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  color: #0067ff; }

.cards {
  position: fixed;
  bottom: 50px;
  height: 100px;
  max-width: 800px;
  min-width: 400px;
  margin-right: 100px; }
  .cards:after {
    content: "";
    display: table;
    clear: both; }

.card {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 140px;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  float: left;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  -moz-transition: top 0.2s ease, left 0.5s ease;
  -o-transition: top 0.2s ease, left 0.5s ease;
  -webkit-transition: top 0.2s ease, left 0.5s ease;
  transition: top 0.2s ease, left 0.5s ease; }
  .card:nth-child(1) {
    left: 0%;
    z-index: 8; }
  .card:nth-child(2) {
    left: 11.11111%;
    z-index: 7; }
  .card:nth-child(3) {
    left: 22.22222%;
    z-index: 6; }
  .card:nth-child(4) {
    left: 33.33333%;
    z-index: 5; }
  .card:nth-child(5) {
    left: 44.44444%;
    z-index: 4; }
  .card:nth-child(6) {
    left: 55.55556%;
    z-index: 3; }
  .card:nth-child(7) {
    left: 66.66667%;
    z-index: 2; }
  .card:nth-child(8) {
    left: 77.77778%;
    z-index: 1; }
  .card:nth-child(9) {
    left: 88.88889%;
    z-index: 0; }
  .card:hover {
    top: -20px; }

.hidden {
  display: none; }

.admin_user {
  margin-bottom: 10px;
  font-size: 16px; }

.admin_kick_btn {
  margin-left: 10px; }
