$cards_number: 9;
$distance_between_cards: 100% / $cards_number;
$card_width: 100px;
$card_height: 140px;
$board_card_width: $card_width * 0.5;
$board_card_height: $card_height * 0.5;
$blue: #0067ff;
$green: #33d872;
$letter_spacing: 3px;

@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin transition($transition...){
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

body {
  font-family: 'Open Sans', sans-serif;
}

div{
  box-sizing: border-box;
}

.dialog{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #40464d;
  opacity: 0.7;
  z-index: 100;
  &.hide{
    display: none;
  }
}
.dialog_box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 590px;
  height: 236px;
  margin: -119px 0 0 -295px;
  background-color: #f8f8f8;
  border: 1px solid #6f767f;
  padding: 50px;
}
.dialog_message{
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 1;
}
.dialog_input{
  font-size: 30px;
  width: 50%;
  margin-right: 10px;
  padding: 3px;
}
.dialog_btn{
  background-color: $green;
  font-size: 30px;
  color: #fff;
  width: 30%;
  cursor: pointer;
  padding: 3px;
}

.users{
  margin-bottom: 100px;
  @include clearfix;
}
.user{
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  max-width: $board_card_width;
}
.user_card{
  width: $board_card_width;
  height: $board_card_height;
  border: 1px solid black;
  &.back{
    background: black;
  }
  .is_me &{
    background: none;
  }
}
.user_name{
  text-align: center;
  padding: 5px 0;
  @include ellipse;
}

.main_panel {
  width: 80%;
  float: left;
  padding: 0 20px;
}

.panel {
  width: 20%;
  float: left;
  border-right: 1px solid #e3e3e5;
  padding: 0 50px;
}

.title{
  color: #40464d;
  font-weight: 800;
  letter-spacing: $letter_spacing;
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

.timer{
  width: 135px;
  height: 135px;
  padding-top: 35px;
  margin: 0 auto;
  color: #fff;
  background-color: $blue;
  font-size: 25px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 0px 5px 12px 0 rgba(0,103,255,0.47);
}
.timer_sec{
  font-size: 40px;
  margin-left: 4px;
}
.timer_underline{
  width: 70px;
  height: 1px;
  margin: 3px auto;
  background-color: #fff;
}

.controls{
  margin-bottom: 50px;
}
.controls_btn{
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: $letter_spacing;
  text-align: center;
  cursor: pointer;
  padding: 17px;
  border-radius: 5px;
}
.controls_btn_green{
  background-color: $green;
  box-shadow: 0px 5px 12px 0 rgba(51,216,114,0.75);
  border: 1px solid $green;
}
.controls_btn_blue{
  background-color: $blue;
  box-shadow: 0px 5px 12px 0 rgba(0,103,255,0.47);
  border: 1px solid $blue;
}

.stats_title{
  font-size: 18px;
  font-weight: 600;
  color: #6f767f;
  text-align: center;
  letter-spacing: $letter_spacing;
}
.stats_result{
  font-size: 70px;
  font-weight: 600;
  color: $blue;
  text-align: center;
}
.stats_unit{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: $letter_spacing;
  text-align: center;
  color: $blue;
}

.cards{
  position: relative;
  max-width: 800px;
  min-width: 400px;
  margin-right: $card_width;
  @include clearfix;
}
.card{
  position: absolute;
  top: 0px;
  width: $card_width;
  height: $card_height;
  text-align: left;
  padding: 5px;
  float: left;
  border: 1px solid black;
  cursor: pointer;
  background-color: #fff;
  @for $i from 0 through 8 {
    &:nth-child(#{$i+1}){
      left: $distance_between_cards * $i;
      z-index: $i + 1;
    }
  }
  &:hover{
    top: -20px;
  }
  @include transition(top 0.2s ease, left 0.5s ease);
}
.hidden{
  display: none;
}
// -------------------
// ----- Admin -------
.admin_user{
  margin-bottom: 10px;
  font-size: 16px;
}
.admin_kick_btn{
  margin-left: 10px;
}
